.animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    background-color: #062753;
    position: relative;

   }
