@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-ul > li > a:hover {
    color: #1b4378;
    background-color: white;
    padding: 30px 5px;
}
.navbar-ul > li > a {
    padding: 30px 5px;
}

.info-box {
    position: absolute;
    top: 20%;
    right: 0;
    background-color: #4774a9;
    opacity: 0.5;
    padding: 20px;
    font-size: 20px;
    color: white;
    opacity: 0;
    transform: translateX(100%); /* Başlangıçta sağa taşı */
    transition: opacity 2s ease, transform 2s ease; /* 2 saniyede animasyonla aç */
}

.info-box.active {
    opacity: 0.8;
    transform: translateX(0);
}
@media (max-width: 1280px) {
    .navbar-ul > li > a:hover {
        color: #1b4378;
        background-color: white;
        padding: 32px 5px;
    }

    .navbar-ul > li > a {
        padding: 32px 5px;
    }
}
