@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-ul > li > a:hover {
    color: #1b4378;
    background-color: white;
}

.info-box-container {
    position: relative;
}

.info-box {
    position: absolute;
    top: 20%;
    right: 0;
    background-color: rgba(0, 0, 255, 0.781);
    padding: 20px;
    font-size: 20px;
    color: white;
    opacity: 0;
    transform: translateX(100%); /* Başlangıçta sağa taşı */
    transition: opacity 2s ease, transform 2s ease; /* 2 saniyede animasyonla aç */
}

.info-box.active {
    opacity: 0.8;
    transform: translateX(0);
}
